@tailwind base;
@tailwind components;
@tailwind utilities;

@responsive {
  .w-640 {
    width: 640px;
  }
  .w-768 {
    width: 768px;
  }
  .w-1024 {
    width: 1024px;
  }
  .w-1280 {
    width: 1280px;
  }
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.odibee {
  font-family: "Odibee Sans", cursive;
}
